@media (max-width: 768px) {
    .container {
        width: 320px;
    }
    header {
        min-height: 55px;
        position: relative;
    }
    .user-nav-wrapper {
        display: flex;
        height: 56px;
        position: relative;
        align-items: center;
        justify-content: flex-end;
    }
    .header-logo-link {
        position: absolute;
        left: 50%;
        margin-left: 0;
        z-index: 10;
        transform: translate(-50%, 0px);
        top: 0px;
    }
    .header-logo {
        transform: scale(0.8);
    }
    .burger-icon svg {
        display: block;
        fill: #81b3d2;
        width: 38px;
        height: 38px;
    }
    .main-nav {
        display: none;
    }
    .main-nav-open {
        display: block;
        flex-basis: 100%;
    }
    .nav-item {
        width: 100%;
        padding: 20px 0px 20px;
        font-size: 14px;
        background-color: #81b3d2;
        color: #fff;
        border-bottom: 1px solid #678fa8;
        text-align: center;
    }
    .close-icon svg {
        display: block;
        position: absolute;
        fill: #fff;
        width: 38px;
        height: 38px;
        top: 8px;
        right: 0;
    }
    .mobile-logo {
        display: none;
    }
    .nav-container {
        flex-direction: column;
    }
    .nav-items {
        flex-direction: column;
    }
    .welcome-page {
        background: 0;
        width: 100%;
    }
    .university-name {
        margin-right: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    .university-first-name {
        font-size: 16px;
        width: 100%;
        margin-bottom: 0;
        color: #000;
        text-align: center;
    }
    .university-second-name {
        font-size: 16px;
        width: 100%;
        margin-bottom: 0;
        color: #000;
        text-align: center;
    }
    .vt-educational-areas {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .vt-educational-areas .educational-area-block:last-of-type {
        margin-bottom: 15px;
    }
    .vt-tytle {
        font-size: 28px;
        width: 100%;
        margin-bottom: 15px;
    }
    .educational-area-block {
        width: 100%;
        margin-bottom: 15px;
    }
    .specialty-code {
        font-size: 18px;
        padding-bottom: 5px;
    }
    .specialty-name {
        font-size: 16px;
    }
    .head-of-department-block {
        width: 100%;
        margin: 0;
        text-align: center;
        padding-top: 10px;
        background-color: #eeeeee;
    }
    .head-of-department-tytle {
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
        width: 100%;
    }
    .head-of-department-name {
        font-size: 18px;
        margin: 0;
        text-align: center;
        padding-bottom: 10px;
        width: 100%;
    }
    .welcome-page-achievements {
        background: 0;
        width: 100%;
        height: auto;
    }
    .welcome-page-achievements-tytle {
        font-size: 28px;
        color: #000000;
        padding-top: 25px;
    }
    .welcome-page-achievements-img {
        width: 100%;
    }
    .welcome-page-achievements-desc {
        width: 95%;
        font-size: 16px;
        padding: 15px 0 15px;
        color: #000000;
    }
    .president-grant-btn {
        width: 175px;
        font-size: 18px;
        background-color: #81b3d2;
        margin-bottom: 15px;
    }
    .president-grant-btn:hover {
        background-color: #669ec0;
        color: #fff;
    }
    .president-grant-btn:active {
        background-color: #5496bd;
        color: rgba(255, 255, 255, 0.3);
    }
    .contests-and-olympiad {
        background: 0;
        width: 100%;
        height: auto;
    }
    .activity-tytle {
        font-size: 28px;
        color: #000000;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .activity-items {
        padding: 0;
    }
    .activity-block {
        width: 200px;
    }
    .activity-block-img {
        width: 185px;
        height: 140px;
    }
    .activity-block-text {
        font-size: 16px;
        color: #000;
    }
    .activism-and-volunteer {
        background: 0;
        width: 100%;
        height: auto;
        background-color: #eeeeee;
    }
    .teaching-staff {
        background: 0;
        width: 100%;
        height: auto;
    }
    .teaching-staff-tytle {
        font-size: 28px;
        color: #000000;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .teaching-staff-text {
        font-size: 16px;
        color: #000;
        width: 90%;
        padding-bottom: 15px;
    }
    .teaching-staff-text:last-of-type {
        padding-bottom: 15px;
    }
    .teaching-staff-link {
        width: 175px;
        font-size: 18px;
        background-color: #81b3d2;
        margin-bottom: 15px;
        width: 225px;
        padding: 20px 35px;
    }
    .teaching-staff-link:hover {
        background-color: #669ec0;
        color: #fff;
    }
    .teaching-staff-link:active {
        background-color: #5496bd;
        color: rgba(255, 255, 255, 0.3);
    }
    .teaching-staff-img-container {
        display: none;
    }
    .study-technology {
        background: 0;
        width: 100%;
        height: auto;
        background-color: #eeeeee;
    }
    .study-technology-tytle {
        font-size: 28px;
        color: #000000;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .study-technology-items {
        padding-left: 15%;
    }
    .study-technology-items-second {
        position: static;
        padding-bottom: 15px;
    }
    .study-technology-logo {
        display: none;
    }
    .study-discipline {
        background: 0;
        width: 100%;
        height: auto;
    }
    .study-discipline-tytle {
        font-size: 28px;
        color: #000000;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .study-discipline-container {
        flex-wrap: wrap;
    }
    .study-discipline-items {
        padding-left: 10%;
    }
    .study-discipline-items-first {
        padding-bottom: 0px;
    }
    .study-discipline-items-second {
        padding-bottom: 15px;
    }
    .cooperation-and-partners {
        background: 0;
        width: 100%;
        height: auto;
        background-color: #81b3d2;
    }
    .cooperation-and-partners-tytle {
        font-size: 28px;
        color: #fff;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    img.cooperation-and-partners-img {
        position: static;
        display: block;
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .internships-abroad {
        background: 0;
        width: 100%;
        height: auto;
    }
    .internships-abroad-tytle {
        font-size: 28px;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .internships-abroad-block {
        width: 200px;
        padding: 0;
    }
    .internships-abroad-img {
        width: 185px;
    }
    .internships-abroad-text {
        padding: 20px 0 15px;
        font-size: 16px;
        color: #000;
    }
    .pride-board {
        background: 0;
        width: 100%;
        height: auto;
    }
    .pride-board-tytle {
        font-size: 28px;
        color: #000000;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .pride-board-block {
        width: 200px;
        padding: 0;
    }
    .pride-board-img {
        height: 110px;
    }
    .pride-board-text {
        padding: 20px 0 15px;
        font-size: 16px;
        color: #000;
    }
    .student-place-of-work {
        background: 0;
        width: 100%;
        height: auto;
        background-color: #81b3d2;
    }
    .student-place-of-work-tytle {
        font-size: 28px;
        color: #eeeeee;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    img.student-place-of-work-img {
        position: static;
        display: block;
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .footer {
        flex-direction: column;
        padding: 30px 0 10px;
    }
    .footer-contact {
        width: 100%;
    }
    .footer-contact a {
        width: 220px;
        margin-bottom: 20px;
    }
    .footer-social {
        width: 100%;
        margin-bottom: 20px;
    }
    .htmlacademy-logo {
        width: 100%;
    }
    .hide-class {
        display: none;
    }
    .display-block-class {
        display: block;
    }
    .set-height-auto {
        height: auto;
    }
}